{% extends 'admin/admin_base.html.twig' %}
    {% block title %}Admin Panel{% endblock %}


    {% block content %}
        <div class="row">
            <div class="col-12">
                <div id="usersTableContainer"></div>

                <h2>Welcome to the admin panel</h2>
                <br/>
                <p>Use the links on top to manage your application.</p>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    {% endblock %}
