{% extends 'admin/admin_base.html.twig' %}
    {% block title %}Users Management - Admin Panel{% endblock %}


    {% block content %}
        <div class="row">
            <div class="col-12">
                <h2>Users management</h2>
                <div id="usersTableContainer"></div>
            </div>{# /.col-12 #}
        </div>{# /.row #}
    {% endblock %}


    {% block scripts %}
        <script src="/js/jtable_setup_users.js"></script>
    {% endblock %}
